<% content_for :title, 'gamiis' %>
<% content_for :content do %>
<div class="container">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="mb-3">新規登録</h4>
    <div class="row g-3">
      <%= form_for(@user) do |f| %>
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email, class: 'form-label' %>
      <%= f.text_field :email, class: 'form-control' %>
      <%= f.label :password, class: 'form-label' %>
      <%= f.text_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.text_field :password_confirmation, class: 'form-control' %>
      <hr class="my-2">
      <%= f.submit "登録する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
