<% content_for :title, 'gamiis' %>
<% content_for :stylesheets do %>
<style>
  .user_icon_main {
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    width: 200px;
    /* 縦横を同じ値にする */
    height: 200px;
    /* 縦横を同じ値にする */
    object-fit: cover;
    /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  }

</style>
<% end %>
<% content_for :content do %>
<div class="px-4 py-5 my-5 text-center">
  <div class="container">
    <div class="col-lg-6 mx-auto">
      <% flash.each do |message_type, message| %>
      <div class="col-12">
        <p class="text-center alert-<%= message_type %> py-3">
          <%= message %>
        </p>
      </div>
      <% end %>
      <div class="d-flex justify-content-start">
        <%= link_to '<<', request.referer, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
  <h1 class="display-5 fw-bold"><%= @user.name %></h1>
  <div class="d-flex justify-content-center my-2">
    <% if @user.picture.present? %>
    <%= image_tag @user.picture.url, class: 'user_icon_main border border-light', width: '100%' %>
    <% end %>
  </div>
  <%= link_to '編集', edit_user_path(@user), class: 'btn btn-primary mb-3' %>
  <div class="col-lg-6 mx-auto">
    <!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-success btn-lg px-4 gap-3">参加グループ<br />15</button>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">フォロー<br />4</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">フォロワー<br />10</button>
    </div>-->
    <div class="container">
      <div class="row g-3">
        <div class="col py-3 px-3 btn btn-success me-2 position-relative">
          <%= link_to '参加グループ: ' + @user.topics.count.to_s, topics_user_path(@user), class: 'stretched-link text-white text-decoration-none' %>
        </div>
        <!--<div class="col py-3 px-3 btn btn-primary me-2">
          1 of 2
        </div>
        <div class="col bg-primary py-3 px-3">
          2 of 2
        </div>-->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="col-lg-6 offset-lg-3">
      <div class="col-12 mb-4">
        <h2>最新のチャット</h2>
      </div>
      <div class="col-12">
        <%= render partial: "posts/post", collection: @posts %>
        <div class="d-flex justify-content-center">
          <%= paginate @posts  %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
