<% content_for :title, 'gamiis' %>
<% content_for :content do %>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold"><%= @user.name %></h1>
  <img class="d-block mx-auto mb-4" src="../images/bootstrap-logo.svg" alt="" width="72" height="57">
  <div class="col-lg-6 mx-auto">
    <!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-success btn-lg px-4 gap-3">参加グループ<br />15</button>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">フォロー<br />4</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">フォロワー<br />10</button>
    </div>-->
    <div class="container">
      <div class="row g-3">
        <div class="col py-3 px-3 btn btn-success me-2 position-relative">
          <%= link_to '参加グループ: ' + @user.topics.count.to_s, topics_user_path(@user), class: 'stretched-link text-white text-decoration-none' %>
        </div>
        <!--<div class="col py-3 px-3 btn btn-primary me-2">
          1 of 2
        </div>
        <div class="col bg-primary py-3 px-3">
          2 of 2
        </div>-->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="col-lg-6 offset-lg-3">
      <div class="col-12 mb-4">
        <h2>最新のチャット</h2>
      </div>
      <div class="col-12">
        <% @posts.each do |post| %>
        <div class="mb-3 px-3 py-3 border">
          <div class="d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
              チャットだよ
            </div>
            <div>
              <p><%= post.user.name %> <span class="text-secondary"><%= time_ago_in_words(post.created_at) %>
                  ago</span></p>
              <p><%= post.content %></p>
            </div>
          </div>
        </div>
        <% end %>
        <div class="d-flex justify-content-center">
          <%= paginate @posts  %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
