<% content_for :title, 'gamiis' %>
<% content_for :stylesheets do %>
<style>
  .topic_icon {
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    width: 80px;
    /* 縦横を同じ値にする */
    height: 80px;
    /* 縦横を同じ値にする */
    object-fit: cover;
    /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  }

</style>
<% end %>
<% content_for :content do %>
<div class="container">
  <div class="row mb-4">
    <div class="col-lg-6 offset-lg-3">
      <span class="input-group-btn">
        <%= link_to '<<', user_path(@user), class: 'btn btn-outline-secondary me-2' %>
      </span>
      <div class="row d-flex justify-content-between align-items-end my-3">
        <div class="col-8">
          <h3 class="mb-0"><%= @user.name %>の参加グループ</h3>
        </div>
        <div class="col-4 text-end text-secondary">
          <%= @topics.count %>グループ
        </div>
      </div>
      <div class="row g-3 mb-4">
        <% @topics.each do |topic| %>
        <div class="col-12">
          <div class="card">
            <div class="row g-0 px-3 py-3">
              <div class="col-3">
                <% if topic.picture.present? %>
                <%= image_tag topic.picture.url, class: 'topic_icon border border-light', width: '100%' %>
                <% end %>
              </div>
              <div class="col-md-9">
                <div class="card-title">
                  <%= link_to topic.name, topic_posts_path(topic), class: 'stretched-link text-decoration-none text-dark' %>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <small class="text-secondary me-2"><%= topic.users.count %>人</small>
                    <% if topic.posts.present?%>
                    <small
                      class="text-secondary"><%= time_ago_in_words(topic.posts.order(created_at: "DESC").first.created_at) %>
                      ago</small>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @topics %>
      </div>
    </div>
  </div>
</div>
<% end %>
