<% content_for :stylesheets do %>
<style>
  .user_icon {
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    width: 80px;
    /* 縦横を同じ値にする */
    height: 80px;
    /* 縦横を同じ値にする */
    object-fit: cover;
    /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  }

</style>
<% end %>
<div class="mb-3 px-3 py-3 border">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-0 me-3">
      <% if post.user.picture.present? %>
      <%= link_to user_url(post.user) do %>
      <%= image_tag post.user.picture.url, class: 'user_icon border border-light', width: '100%' %>
      <% end %>
      <% end %>
    </div>
    <div>
      <p>
        <%= post.user.name %>
        <span class="text-secondary ms-2 small"><%= time_ago_in_words(post.created_at) %> ago</span></p>
      <p><%= post.content %></p>
    </div>
  </div>
</div>
