<% content_for :title, 'gamiis' %>
<% content_for :stylesheets do %>
<style>
  .chat-textarea {
    resize: none;
    max-height: 280px;
  }

</style>
<% end %>
<% content_for :javascripts do %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
  integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function () {
    // チャット入力フォームの大きさ制御
    $("textarea").attr("rows", 1).on("input", e => {
      $(e.target).height(0).innerHeight(e.target.scrollHeight);
    });

    if ($.cookie("activeTab")) {
      tab_name = $.cookie("activeTab")
      $('a[id="' + tab_name + '-tab"]')[0].click();
      if (tab_name == 'pills-chat') {
        $('#post_post_type').val('0')
      } else if (tab_name == 'pills-find-member') {
        $('#post_post_type').val('1')
      }
    } else {
      $('a[id="pills-chat-tab"]')[0].click();
      $('#post_post_type').val('0')
    }

    $('a[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
      tab_name = e.target.href.split("#")[1]
      if (tab_name == 'pills-chat') {
        $('#post_post_type').val('0')
      } else if (tab_name == 'pills-find-member') {
        $('#post_post_type').val('1')
      }
      $.cookie("activeTab", tab_name);
    })
  });

</script>
<% end %>
<% content_for :content do %>
<div class="container">
  <div class="row mb-4">
    <div class="col-lg-6 offset-lg-3">
      <div class="row g-3 my-1">
        <% flash.each do |message_type, message| %>
        <div class="col-12">
          <p class="text-center alert-<%= message_type %> py-3">
            <%= message %>
          </p>
        </div>
        <% end %>
        <div class="col-8">
          <h3 class="mb-0"><%= @topic.name %></h3>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to 'グループ情報', topic_path(@topic), class: 'btn btn-primary' %>
        </div>
        <div class="col-12">
          <%= search_form_for @q, url: topic_posts_url(@topic), class: 'input-group' do |f| %>
          <%= link_to '<<', topics_path, class: 'btn btn-outline-secondary me-2' %>
          <%= f.search_field :content_cont, class: 'form-control', placeholder: 'チャット検索' %>
          <%= f.submit "検索", class: 'btn btn-light ms-1' %>
          <% end %>
        </div>
        <div class="col-12">
          <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-chat-tab" data-bs-toggle="pill" href="#pills-chat" role="tab"
                aria-controls="pills-chat" aria-selected="true">チャット</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-find-member-tab" data-bs-toggle="pill" href="#pills-find-member" role="tab"
                aria-controls="pills-find-member" aria-selected="false">募集</a>
            </li>
          </ul>
        </div>
        <div class="col-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show mb-5" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
              <%= render partial: "post", collection: @chat_posts %>
              <div class="d-flex justify-content-center">
                <%= paginate @chat_posts, :param_name => 'chat_page' %>
              </div>
            </div>
            <div class="tab-pane fade mb-5" id="pills-find-member" role="tabpanel"
              aria-labelledby="pills-find-member-tab">
              <%= render partial: "post", collection: @find_members_posts %>
              <div class="d-flex justify-content-center">
                <%= paginate @find_members_posts, :param_name => 'find_members_page' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom">
  <div class="container">
    <% debug logged_in? %>
    <% if logged_in? && current_user&.participations.find_by(topic_id: @topic.id)%>
    <div class="col-lg-6 offset-lg-3 bg-light pt-2 px-2">
      <%= form_for [@topic, @new_post] do |f| %>
      <%= f.text_area :content, class: 'form-control chat-textarea mb-1', placeholder: 'チャットを入力' %>
      <%= f.hidden_field :post_type %>
      <div class="text-end">
        <%= f.submit "送信", class: "btn btn-sm btn-success text-end mb-2" %>
      </div>
      <% end %>
    </div>
    <% else %>
    <div class="col-lg-6 offset-lg-3">
      <div class="bg-secondary px-3 py-3">
        <div class="row">
          <div class="col-8 d-flex align-items-center justify-content-center text-white">
            グループに参加しよう！
          </div>
          <div class="col-4">
            <div class="float-end">
              <%= link_to '参加する', topic_participations_path(@topic), method: 'post', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
