<!DOCTYPE html>
<html>

<head>
  <title><%="#{yield(:title)}"%></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :metas %>
  <%= stylesheet_pack_tag 'application' %>
  <%= yield :stylesheets %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :javascripts %>
  <%= favicon_link_tag('favicon.ico') %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Gamiis', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if logged_in? %>
          <ul class="navbar-nav ms-auto mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <%= current_user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to 'プロフィール', user_path(current_user), class: 'dropdown-item' %></li>
                <hr class="dropdown-divider">
                <li><%= link_to 'ログアウト', signout_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
          <% else %>
          <div class="ms-auto">
            <%= link_to '新規登録', signup_path, class: 'btn btn-primary me-3' %>
            <%= link_to 'ログイン', signin_path, class: 'btn btn-secondary' %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <%= yield :content %>
  </main>
  <footer>
  </footer>
</body>

</html>
